@model GestionDocumentalAdmin.Models.Models.Usuarios

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "modal-form", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nombre, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.DropDownList("idUsuario", ViewData["usuarios"] as SelectList, "Seleccione un usuario", htmlAttributes: new { @class = "form-control idU" })
                @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generar Reporte" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

